/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at 50% 50%, #3d0060, #2b0037 50%, #130033 80%, #0a001e);
    color: #e0e0e0;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
    animation: fadeInUp 0.8s ease-in-out;
}

.fade-in {
    opacity: 0; /* Initially hidden */
    animation: fadeInUp 1s ease-in-out forwards; /* Increased duration */
}

.image1 {
    animation-delay: 0s; /* No delay */
}

.image2 {
    animation-delay: 0.2s; /* Slight delay */
}

.image3 {
    animation-delay: 0.4s; /* Moderate delay */
}

.image4 {
    animation-delay: 0.6s; /* More delay */
}

/* Keyframes to define the animation */
@keyframes fadeInUp {
    0% {
        opacity: 0; /* Start as invisible */
        transform: translateY(20px);
    }
    100% {
        opacity: 1; /* End as visible */
        transform: translateY(0);
    }
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 60px;
    position: relative;
    text-decoration: none;
    margin: 0 100px;
    padding: 5px;
}

a:hover {
    border-color: #ffffff;
}

img {
    max-width: 60%;
    height: auto;
    transform: translateY(0px);
}

.progress-img {
    max-width: 30%;
    height: auto;
    margin-top: -40px;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.logos img {
    max-width: 200%;
    height: auto;
}

.logos a:hover img {
    transform: scale(1.05);
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    main {
        flex-direction: column; /* Stack items vertically */
    }

    img {
        max-width: 80%; /* Allow images to take up more space */
    }

    .progress-img {
        max-width: 60%; /* Increase size for progress image */
        margin-top: -20px; /* Adjust margin as needed */
    }

    a {
        margin: 0 20px; /* Reduce margin for logos */
        width: 60px; /* Adjust size for mobile */
        height: 50px;
    }

    .logos {
        flex-direction: column; /* Stack logos vertically */
        margin-top: 30px;
    }

    .logos img {
        max-width: 100%; /* Ensure logos fit within the screen */
        height: auto;
        margin-bottom: 10px; /* Space between logos */
    }
}